header .h-bottom, .navbar{
    background-color: #007c8b;
}

html, body{
    overflow-x: hidden;
}
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 70vh;
}

.sec1 h1{
    padding: 30px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: #007c8b;
}

.info{
    padding: 50px 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2em;
}

.info h4{
    margin-top: 20px;
    padding-bottom: 0px;
    font-weight: 600;
    color: var(--primary);
}

.sec1 a{
    text-align: center;
    padding: 10px 20px;
    color: var(--primary);
    background-color: var(--thaird);
    border: dashed 1px var(--primary);
}
.sec1 a:hover{
    background-color: var(--primary);
    color: #fff;
}

@media (max-width: 750px) {
    .info{
        padding: 20px 20px;
    }
}
