header .h-bottom, .navbar{
    background-color: #007c8b;
}

html, body{
    overflow-x: hidden;
}
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.sec1 h1{
    padding: 50px;
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: #007c8b;
}

.sec1 .row{
    padding: 50px 100px;
    min-height: 100vh;
    width: 100%;
}

.sec1 .row .card{
    border-radius: 0px;
    background-color: #ffffff25;
    box-shadow: 0 5px 10px #a3a3a343;
    border: none;
}

.sec1 .row .card .card-body{
    border: none;
}

.sec1 .row h5{
    font-size: 1.4em;
    color: #007c8b;
    padding: 10px 5px;
}

.sec1 .row a{
    cursor: pointer;
    font-weight: 600;
    color: var(--primary);
    padding: 5px 20px;
    background-color: var(--thaird);
    border-radius: 20px;
}

.sec1 .row a:hover{
    color: var(--secondary);
}

@media (max-width: 750px) {
    .sec1 .row{
        padding: 20px 20px;
    }
}
